#works{
    margin: 0 auto;
    min-height: calc(100vh- 4rem);
    width: 100vw;
    max-width: 60rem;
    display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   padding: 0 1rem;
   font-family: 'Outfit', sans-serif;
}

.worksTitle{
    margin: 1rem 0;
    font-size: 3rem;
}

.workDescription{
    font-weight: 300;
    font-size: 1rem;
    max-width: 45rem;
}

.workImages{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    max-width: 65rem;
    flex-wrap: wrap;
}
.workimg{
    object-fit: cover;
    height: 20rem;
    margin: 0.5rem;
}
.wbtn{
    padding: 0.5rem  2.5rem;
   border: none;
   border-radius: 2rem;
   background: white;
   font-size: 1rem;
   margin: 3rem 0;
   cursor: pointer;

}

@media screen and (max-width: 600px) {
    .workimg {
        height: 48vw;
    }
}
